PORT=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

INTEGRATION_SERVICE_URL=http://localhost:5001
ANALYSIS_ENGINE_URL=http://localhost:8000
FRONTEND_ORIGIN=http://localhost:3000
# Generate: node -e "console.log(require('crypto').randomBytes(48).toString('hex'))"
JWT_SECRET=
